#candH {
background-color: orange;
background-size: cover;

}

#sciFi {
background-color: red;
background-size: cover;
}

#jackBlack {
background-color: brown;
background-size: cover;
}

.card {
// padding: 10em 2em;
height: 75%;
width: 75%;
border-radius: 1em;
transition: .25s;
text-align: center;
vertical-align: middle;
}

.card:hover {
    cursor: pointer;
    height: 80%;
    width: 80%;
}

.card img {
    object-fit: cover;
    max-width: 100%;
}

.cardText {
    display: flex;
    

}

.blur {
    height: 100%;
    position: relative;
    z-index: 9;
    transition: .25s;
    backdrop-filter: blur(5px);
}

.blur:hover {
    backdrop-filter: blur(0px);
}