@media screen and (max-width: 1024px)  {
    // Skeleton
    body {
        background-color: none;
    }
    
    #mainCards {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: auto;
        height: 90vh;
        justify-items: center;
        align-items: center;
        background-color: #181123;
    }
    
    .hidden {
        display: none;
        position: relative;
    }

    // Text
    a {
        font-family: 'Bebas Neue', cursive;
        font-size: 4em;
        color: #f3f1dc;
        filter: drop-shadow(3px 3px 1px black);
    }
    
    h1 {
        display: block;
        text-align: center;
        font-family: 'Bebas Neue', cursive;
        font-size: 5em;
    
        // Linear Gradient
        background: linear-gradient(-75deg, #fb5c2c, #a03ce7);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 200% 200%;
        animation: gradient 3s ease infinite;
    }
}