a {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    color: #f3f1dc;
    filter: drop-shadow(3px 3px 1px black);
}

p {
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    color: #f3f1dc;
    filter: drop-shadow(3px 3px 1px black); 
}

h3 {
    display: block;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 3em;
}

h1 {
    display: block;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 10em;
    position: sticky;

    // Linear Gradient
    background: linear-gradient(-75deg, #fb5c2c, #a03ce7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}